.grid-container {
    position: relative;
    border: 2px solid black;
    width: 616px;
    height: 616px;
    border-radius: 5px;
    margin: auto;

}

.grid {
    border: 8px solid #0c0caf;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    box-sizing: border-box;
    width: 75px;
    height: 75px;
}

.grid-square.color1 {
    background-color: rgb(90, 96, 125);
}

.grid-square.color2 {
    background-color: #8da3b9;
}

.block {
    border-radius: 3px;
    box-sizing: border-box;
    position: absolute;
    box-shadow: inset 0 0 6px 2px #333;
}
